@model UsersListModel

@{
    ViewData["Title"] = "Учётные записи";
}

<h1>Учётные записи</h1>

<p>
    <a asp-action="Create">Создать новую</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Id</p>
            </th>
            <th>
                <p>Login</p>
            </th>
            <th>
                <p>Админ</p>
            </th>
            <th>
                <p>Контент</p>
            </th>
            <th>
                <p>Склад</p>
            </th>
            <th>
                <p>Курьер</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @if (item.Id == 1)
                {
                    @Html.DisplayFor(modelItem => item.Permissions.Admin)
                }
                else
                {
                    @Html.CheckBoxFor(modelItem => item.Permissions.Admin)
                }
            </td>
            <td>
                @if (item.Id == 1)
                {
                    @Html.DisplayFor(modelItem => item.Permissions.ContentManager)
                }
                else
                {
                    @Html.CheckBoxFor(modelItem => item.Permissions.ContentManager)
                }
            </td>
            <td>
                @if (item.Id == 1)
                {
                    @Html.DisplayFor(modelItem => item.Permissions.Seller)
                }
                else
                {
                    @Html.CheckBoxFor(modelItem => item.Permissions.Seller)
                }
            </td>
            <td>
                @if (item.Id == 1)
                {
                    @Html.DisplayFor(modelItem => item.Permissions.Courier)
                }
                else
                {
                    @Html.CheckBoxFor(modelItem => item.Permissions.Courier)
                }
            </td>
            <td>
                @if (item.Id != 1)
                {
                    @Html.ActionLink("Сохранить роли", "SaveRoles", new { id = item.Id })
                }
                | @Html.ActionLink("Сменить пароль", "ChangePassword", new { id = item.Id }) |
                @if(item.Id != 1)
                {
                     @Html.ActionLink("Удалить", "Delete", new { id = item.Id });
                }
            </td>
        </tr>
}
    </tbody>
</table>
